<body>
    <div class="container">
      <div class="title">APPLY FOR MEDICINE</div>
      <div class="content">
        <form action="#" [formGroup]="form">
          <div class="user-details">

            <div class="input-box">
               
              <input type="text" formControlName="name" placeholder="Enter your name" required>
              <div *ngIf="form.controls['name'].touched && form.controls['name'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['name'].errors && form.controls['name'].errors['required']">Name is required.</div>
                <div class="errorcls" *ngIf="form.controls['name'].errors && form.controls['name'].errors['minlength']">Name should be 3 character.</div>
                <div class="errorcls" *ngIf="form.controls['name'].errors && form.controls['name'].errors['pattern']">Name should not contain numbers</div>
            </div>
            </div>
            <div class="input-box">
               
              <input type="text" formControlName="n1" placeholder="Enter Card Holder Name " required>
              <div *ngIf="form.controls['n1'].touched && form.controls['n1'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['n1'].errors && form.controls['n1'].errors['required']">Name is required.</div>
                <div class="errorcls" *ngIf="form.controls['n1'].errors && form.controls['n1'].errors['minlength']">Name should be 3 character.</div>
                <div class="errorcls" *ngIf="form.controls['n1'].errors && form.controls['n1'].errors['pattern']">Name should not contain numbers</div>
             
            </div>
            </div>

            <div class="input-box">
               
              <input type="text" formControlName="email" placeholder="Enter your email" required>
              <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">Email is required.</div>
                
                <div class="errorcls" *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">Please enter valid email address.</div> 
                <div *ngIf="form.controls['email'].errors && form.controls['email'].errors['pattern']">Email id should have @ symbol</div>
            </div>
            </div>
            <div class="input-box">
               
              <input type="text" formControlName="m1" placeholder="Enter your Debit/Credit card no." required>
              <div *ngIf="form.controls['m1'].touched && form.controls['m1'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['m1'].errors && form.controls['m1'].errors['required']">Required</div>
                <div class="errorcls" *ngIf="form.controls['m1'].errors && form.controls['m1'].errors['maxlength']">Enter only 16-digit number</div>
                <div class="errorcls" *ngIf="form.controls['m1'].errors && form.controls['m1'].errors['minlength']">Enter upto 16-digit number</div>
                <div class="errorcls" *ngIf="form.controls['m1'].errors && form.controls['m1'].errors['pattern']">/Card No. should not contain alphabets</div>
              </div>
            </div>

            <div class="input-box">
              <input type="number" formControlName="m2" placeholder="Enter your Age" required>
              <div *ngIf="form.controls['m2'].touched && form.controls['m1'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['m2'].errors && form.controls['m2'].errors['required']">Age is Required</div>
              </div>            
            </div>

            <div class="input-box">
              <input type="text" formControlName="m3" placeholder=" Exp. Month/Date" required>
              <div *ngIf="form.controls['m3'].touched && form.controls['m3'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['m3'].errors && form.controls['m3'].errors['required']">Required</div>
                <div class="errorcls" *ngIf="form.controls['m3'].errors && form.controls['m3'].errors['minlength']">Invalid</div>
                <div class="errorcls" *ngIf="form.controls['m3'].errors && form.controls['m3'].errors['maxlength']">Invalid</div>
              </div>
            
            </div>
            <div class="input-box">
                <input type="text" formControlName="m4" placeholder="Medicine Name" required>
                <div *ngIf="form.controls['m4'].touched && form.controls['m4'].invalid" class="alert alert-danger">
                    <div class="errorcls" *ngIf="form.controls['m4'].errors && form.controls['m4'].errors['required']">Required</div>
                  </div>
                </div>
            
              <div class="input-box">
                <input type="text" formControlName="m5" placeholder="CVV" required>
                <div *ngIf="form.controls['m5'].touched && form.controls['m5'].invalid" class="alert alert-danger">
                    <div class="errorcls" *ngIf="form.controls['m5'].errors && form.controls['m5'].errors['minlength']">Enter upto 3-digit</div>
                    <div class="errorcls" *ngIf="form.controls['m5'].errors && form.controls['m5'].errors['maxlength']">Enter only 3-digit</div>
                    
                    <div class="errorcls" *ngIf="form.controls['m5'].errors && form.controls['m5'].errors['required']">Required</div>
                    <div class="errorcls" *ngIf="form.controls['m5'].errors && form.controls['m5'].errors['pattern']">Invalid</div>
                  </div>
                
              </div>

              <div class="input-box">
                <input type="number" formControlName="m6"  placeholder="Medicine Quantity" required>
                <div *ngIf="form.controls['m6'].touched && form.controls['m6'].invalid" class="alert alert-danger">
                    <div class="errorcls" *ngIf="form.controls['m6'].errors && form.controls['m6'].errors['required']">Required</div>
                  </div>
                
              </div>

              <div class="input-box">
                <input type="text" formControlName="phnm" placeholder="Phone Number" required>
                <div *ngIf="form.controls['phnm'].touched && form.controls['phnm'].invalid" class="alert alert-danger">
                    <div class="errorcls" *ngIf="form.controls['phnm'].errors && form.controls['phnm'].errors['required']">Phone number is required.</div>
                    <div class="errorcls" *ngIf="form.controls['phnm'].errors && form.controls['phnm'].errors['pattern']">Phone number should not contain alphabets</div>
                    <div class="errorcls" *ngIf="form.controls['phnm'].errors && form.controls['phnm'].errors['minlength'] ">Please enter the valid phone number.</div>
                    <div class="errorcls" *ngIf="form.controls['phnm'].errors && form.controls['phnm'].errors['maxlength']">Please enter the valid phone number.</div>
                </div>
              </div>
               </div>     
                
         
          <div class="button">
            <input type="submit" value="Apply">
          </div>
        </form>
      </div>
    </div>
  
  </body>
