<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Our Team Section | CodingLab </title>---->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  
  <div class="sidebar">
    <div class="logo-details">
      <!-- <i class='bx bxl-c-plus-plus'></i> -->
     <span  class="logo_name">MediCure</span>
    </div>
    <div>
      <ul class="nav-links">
        <li>
          <a class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name" routerLink="/adminhomecontent">DASHBOARD</span>
          </a>
        </li>
        <li>
          <a routerLink="/stock">
            <i class='bx bx-box' ></i>
            <span class="links_name" routerLink="/stock">ADD STOCK DETAILS</span>
          </a>
        </li>
        <li>
          <a>
            <i class='bx bx-list-ul' ></i>
            <span class="links_name" routerLink="/displaystockdetail">STOCK DETAILS</span>
          </a>
        </li>
        <li>
          <a>
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name" routerLink="/displayusermedicine">CUSTOMER MEDICINE</span>
          </a>
        </li>
        <li>
            <a>
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="links_name" routerLink="/display-registerdetail">CUSTOMER REGISTER DETAILS</span>
            </a>
          </li>
          <li>
          <a>
              <i class='bx bx-user'></i>           
            <span class="links_name" routerLink="/card">ABOUT US</span>
          </a>
        </li>
        <li class="log_out">
          <a>
            <i class='bx bx-log-out'></i>
            <span class="links_name" routerLink="/navbar">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

 <div class="container">
  <p class="aboutus-css">Online Medical Store.com It is a Online Pharmacy, ayurvedic store,Health Store - Its a one stop shop that offers effective Medical products, healthcare solutions to all those individuals who are health enthusiasts. Providing over 20,000 health  and ayurvedic herbal medicines online at the lowest guaranteed price - with the highest pharmaceutical standards.    
    The aim is to supply cheaper products to everybody who has access to the internet and deliver those products to their door. Through harnessing the power of the internet and supplying you directly, this website will save up to 75% off the cost of many well known products found in your local Medical Shop.</p>
    <!-- <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two"> -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner img-content">
        <marquee>
        <!-- <div class="carousel-item active"> -->
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="/assets/Jenifer.png" alt="">
           </div>
           <div class="details">
             <div class="name">Arokiya Jenifer</div>
             <div class="job">Software Developer</div>
           </div>
           <div class="media-icons">
             <a><i class="fab fa-facebook-f"></i></a>
             <a><i class="fab fa-twitter"></i></a>
             <a><i class="fab fa-instagram"></i></a>
             <a><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <!-- </div> -->
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="../assets/aswin.png" alt="">
           </div>
           <div class="details">
             <div class="name">Aswin Kumar</div>
             <div class="job">Software Developer</div>
           </div>
           <div class="media-icons">
             <a><i class="fab fa-facebook-f"></i></a>
             <a><i class="fab fa-twitter"></i></a>
             <a><i class="fab fa-instagram"></i></a>
             <a><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="../assets/karthick.png" alt="">
           </div>
           <div class="details">
             <div class="name">Karthick</div>
             <div class="job">Software Developer</div>
           </div>
           <div class="media-icons">
             <a><i class="fab fa-facebook-f"></i></a>
             <a><i class="fab fa-twitter"></i></a>
             <a><i class="fab fa-instagram"></i></a>
             <a><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="../assets/jerina.png" alt="">
           </div>
           <div class="details">
             <div class="name">Jerina</div>
             <div class="job">Software Developer</div>
           </div>
           <div class="media-icons">
             <a><i class="fab fa-facebook-f"></i></a>
             <a><i class="fab fa-twitter"></i></a>
             <a><i class="fab fa-instagram"></i></a>
             <a><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="../assets/jegan.png" alt="">
           </div>
           <div class="details">
             <div class="name">Jagan</div>
             <div class="job">Software Developer</div>
           </div>
           <div class="media-icons">
             <a><i class="fab fa-facebook-f"></i></a>
             <a><i class="fab fa-twitter"></i></a>
             <a><i class="fab fa-instagram"></i></a>
             <a><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="/assets/map.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Mappillai Muhaideen</div>
             <div class="job">Web Developer</div>
           </div>
           <div class="media-icons">
             <a><i class="fab fa-facebook-f"></i></a>
             <a><i class="fab fa-twitter"></i></a>
             <a><i class="fab fa-instagram"></i></a>
             <a><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
      </div>
    </div>
    <!-- <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div> -->
  </marquee>
  </div>

  </div>
    </div>

</body>
</html>
