
.divider:after,

.divider:before {

content: "";

flex: 1;

height: 1px;

background: #eee;

}


.h-custom {

height: calc(100% - 73px);

}

@media (max-width: 450px) {

.h-custom {

height: 100%;

}

}

.gradient-custom-2 {

    background-image: url("https://miro.medium.com/max/1000/1*QYN28tTOSwsnnfSK4H2iZg.jpeg");
    /* fallback for old browsers */
    /* background: #fccb90; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .login-info {
        border: solid;
        border-color: green;
        padding: 50px 20px;
    }

    .login-creds {
        text-align: center;
    }