<!-- <app-homepagedesign></app-homepagedesign> -->

<section class="vh-100">

    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <!-- <div class="col-md-9 col-lg-6 col-xl-5 bg-img">
         <img src="https://miro.medium.com/max/1000/1*QYN28tTOSwsnnfSK4H2iZg.jpeg" class="img-fluid"
                    alt="Sample image">
            </div> -->

            <div class="col-lg-6 d-flex align-items-center gradient-custom-2 vh-100">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4"></h4>
                  <p class="small mb-0"></p>
                </div>
              </div>

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 login-info">
                <b><h1 class="login-creds">LOGIN</h1> </b>
                <form class="" [formGroup]="form" >
            
            <!-- <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="loginForm" (ngSubmit)="submit()">
                   <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" [(ngModel)]="email" />
                        <label class="form-label" for="form3Example3"></label>
                    </div>
                   
                   <div class="form-outline mb-3">
                       <input type="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Enter password" [(ngModel)]="password"/>
                    </div> -->
                    <div class="form-outline mb-4">
                        <input
                            formControlName="email"
                            id="email"
                            type="text"
                            class="form-control"
                            placeholder="Enter a Email-Id"
                            [(ngModel)]="email">
                        <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="alert alert-danger">
                            <div class="errorcls" *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">Email is required.</div>
                            
                            <div class="errorcls" *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">Please, enter valid email address.</div> 
                            <!-- <div *ngIf="form.controls['email'].errors && form.controls['email'].errors['pattern']">Email id should have @ symbol and .</div> -->
                        </div>
                    </div>
                      
                       
                    <div class="form-outline mb-4">
                        <input
                            formControlName="password"
                            id="pass"
                            type="password"
                            class="form-control"
                            placeholder="password"
                            [(ngModel)]="password">
                        <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="alert alert-danger">
                            <div class="errorcls" *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']">Password is required.</div>
                            <div class="errorcls" *ngIf="form.controls['password'].errors && form.controls['password'].errors['minlength']">Password should be 8 character.</div>
                            <div class="errorcls" *ngIf="form.controls['password'].errors && form.controls['password'].errors['maxlength']">Password should not exceed 20 character.</div>
                            
                        </div>
                    </div>
                    <!-- <div class="d-flex justify-content-between align-items-center">
                        
                        <div class="form-check mb-0">
                           <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div> -->
                    
                    <div class="text-center text-lg-start mt-4 pt-2">
                   <button type="button" class="btn btn-primary btn-lg login-creds" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0 login-creds">Don't have an account? <a (click)="onSubmit()" [routerLink]="['/loginregister']"
                                class="link-danger">Register</a></p>
                                <p class="small fw-bold mt-2 pt-1 mb-0 login-creds">Back to Home Page? <a  [routerLink]="['/navbar']" class="link-danger">Click Here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <div>
            <a href="#!" class="text-white me-4">
               <i class="fab fa-facebook-f"></i>
                </a>
           <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
                </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
                 </a>
           <a href="#!" class="text-white">
               <i class="fab fa-linkedin-in"></i>
                 </a>
          </div>      
    </div> -->
  
</section>