<nav class="navbar navbar-expand-lg navbar-light p-3 " style="background-color: #e3f2fd;">
  <a class="navbar-brand d-flex flex-row" href="#">
     <div class="logo-image mr-2">
    <img src="../../assets/medicare1.JPG" class="img-fluid">
</div>
<p class="logohead">Medicare</p>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">

    <ul class="ml-auto navbar-nav font-weight-bold navfont">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Categories<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Apply For Medicines<span class="sr-only">(current)</span></a>
      </li>
    </ul>

<ul class="ml-auto navbar-nav font-weight-bold navfont">
      <li class="nav-item active">
        <a class="nav-link"  (click)="onSubmit()" routerLink="/login">Sign In </a>
        <!-- <span class="nav-link" routerLink="/LoginComponent" >Sign In </span> -->
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Sign Up <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<app-carousel></app-carousel>
