<mat-nav-list>
    <div class="logo py-4">
      <img src="" alt="" />
      <h1><b>MediCure</b></h1>
    </div>
    <mat-divider></mat-divider>
    <h1 matSubheader class="mt-2"><b>CONTENTS</b></h1>
  
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dash">
      <mat-icon>dashboard</mat-icon> <b>DASHBOARD</b>
    </a>
    <b><a mat-list-item routerLinkActive="list-item-active" routerLink="/home"><mat-icon>details</mat-icon> ADD STOCK DETAILS</a></b>
    <b><a mat-list-item routerLinkActive="list-item-active" routerLink="/home"> <mat-icon>edit</mat-icon>  STOCK DETAILS </a></b>
    <b><a mat-list-item routerLinkActive="list-item-active" routerLink="/home"> <mat-icon>edit</mat-icon> CUSTOMER DETAILS </a></b>
    <b><a mat-list-item routerLinkActive="list-item-active" routerLink="/home"> <mat-icon>person</mat-icon> PROFILE </a></b>
    <b><a mat-list-item routerLinkActive="list-item-active" routerLink="/home"> <mat-icon>logout</mat-icon> LOGOUT </a></b>
    
    
    
  </mat-nav-list>
