<app-navcategory></app-navcategory>

<div class="banner-area padding-width-1 gray-bg allcatboxcoverpage bg ">
    <div class="container-fluid" style="min-height: calc(100vh - 450px);">
    <div class="pagemaintitlenewset1 margtopandbotmrped1">
            
            <h2 class="h2_data_seo_content mt-3">Categories</h2>
        </div>
        <div class="row">
            
                                        
                <div class="col-lg-3 col-xl-2 col-md-6 col-6 image-divs" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/acidity.demo.jpg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1 font-divs">
                            <h5><a routerLink="/acidpage" class="text-center">Acidity Medicines</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-2 col-md-6 col-6 image-divs1" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/bp.images/bp.demo.jpg" alt="" >
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1 font-divs1">
                            <h5><a routerLink="/bp">BP Medicine</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6 image-divs2" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/diabetes/Diabetes.demo.jpg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1 text-center">
                            <h5><a routerLink="/diabetespage">Diabetes</a></h5>
                        </div>
                    </div>
                </div> <br>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6 image-divs3" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/fever.images/fever.demo.jpeg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/fever">Fever</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <!-- <div class="col-lg-3 col-xl-2 col-md-6 col-6 image-divs4" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/generalmedicine.images/general-demo.jpg" alt="" >
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/commonmed'">Common Medicines</a></h5>
                        </div>
                    </div>
                </div> -->
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6 image-divs5" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/iron.images/iron demo.jpg" alt="" >
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/vitamin">Vitamin Tablets</a></h5>
                        </div>
                    </div>
                </div>
                                          
             
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6 image-divs6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/thorat.images/thorat demo.jpg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/throat">Throat Infection</a></h5>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer>                         
               
                                          
              
                                          
            
                              </div>
                        
            
                                        
                                                           
                               
                                                          
                             
    </div>
</div>