<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>MEDICAL STORE MANAGEMENT</h1>
        <h2><b>A website for both Store Merchants and Customers</b></h2>
      </div>
    </div>
    <div class="text-center">
      <a href="" class="btn-get-started scrollto" routerLink="/loginregister">Get Started</a>
    </div>

    <div class="row icon-boxes">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a href="">Stocks</a></h4>
          <p class="description">Store Merchants can view available medicine stocks</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="ri-dashboard-line"></i></div>
          <h4 class="title"><a href="">Admin Dashboard</a></h4>
          <p class="description">Store Merchants can view and manage customer orders</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="ri-capsule-line"></i></div>
          <h4 class="title"><a href="">Medicines</a></h4>
          <p class="description">Customer can view category of available medicines</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
          <div class="icon"><i class="ri-shopping-bag-line"></i></div>
          <h4 class="title"><a href="">Apply For Medicine</a></h4>
          <p class="description">Customer can login and purchase medicines</p>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Hero -->