
<div *ngIf="feverproduct">
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a href="app.component.html">MediCure</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto"  routerLink="/login">Apply for Medicine</a></li> -->
          <li><a class="nav-link scrollto" routerLink="/navbar">Home</a></li>
          <li><a class="getstarted scrollto"  routerLink="/login">Sign In</a></li>
          &nbsp;&nbsp;  <a routerLink="/login" class="button fancy-button">
            <i class="fas fa-shopping-cart shop-cart">   {{itemcount()}}</i></a>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>
  </header><!-- End Header -->


  <!-- ======= Diabetes Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Fever Medicines</h2>
        <p></p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <!-- <div class="member-img">
              <img src="https://5.imimg.com/data5/FT/AL/MY-8142050/aspirin-tablets-500x500.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Aspirin</h4>
              <span>fgdfgdfgdfgdfgf</span>
            </div> -->
            <div class="member-img">
              <!-- <img src="https://5.imimg.com/data5/SELLER/Default/2021/8/EF/ZO/WU/131552548/dexilant-500x500.jpg" class="img-fluid" alt=""> -->
              <img [src]="feverproduct.images" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <!-- <h4>Dexilant</h4> -->
              <h4>{{feverproduct.name}}</h4>
              <h4>{{feverproduct.price | currency}}</h4>
              <button type="button" (click)="addToCart(feverproduct)">
                AddToCart
              </button>
          </div>
        </div>
      </div>
      <p class="small fw-bold mt-2 pt-1 mb-0 login-creds">Back to Catergory page? <a  [routerLink]="['/categoriespage']" 
        class="link-danger">Click Here</a></p>
        <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="../../assets/medicine variety/fever.images/children's tylenol.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Children's Tylenol</h4>
              <span>gdfgdfgfdgfdg</span>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="https://5.imimg.com/data5/SELLER/Default/2022/9/IV/UY/CG/75459511/500mg-paracetamol-tablet-500x500.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Paracetamol</h4>
              <span>dfdsfdsfdfdsf</span>
            </div>
          </div>
        </div> -->


      </div>

    </div>
  </section>
</div><!-- Diabetes Section -->

  <app-endcomp></app-endcomp>