<!-- <app-navbarmed></app-navbarmed>

<div class="banner-area padding-width-1 gray-bg allcatboxcoverpage bg ">
    <div class="container-fluid" style="min-height: calc(100vh - 450px);">
    <div class="pagemaintitlenewset1 margtopandbotmrped1">
            
            <h2 class="h2_data_seo_content mt-3">Blood Pressure Medicines </h2>
        </div>
        <div class="row">
            
                                        
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/bp.images/atacand-16-mg.jpg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/login">atacand</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a>
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/bp.images/catapres.jpg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/login">catapres</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/bp.images/enalapril.jpg"alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/login">enalapril</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a>
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/bp.images/ramipril.jpg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/login">Lramipril</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a>
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/bp.images/nebilong-h.jfif" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/login">Nebilong</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a>
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/protonix-pantoprazole-250x250.jpg" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a routerLink="/login">Pantaprazole</a></h5>
                        </div>
                    </div>
                </div>
                                          
             
                                          
     
                

               
                                          
              
                                          
            
                              </div>
                               
            
                                        
                                                           
                               
                                                          
                             
    </div>
    <app-footer></app-footer>  
</div> -->

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a href="app.component.html">MediCure</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <!-- <li><a class="nav-link scrollto o" href="#portfolio">Portfolio</a></li> -->
          <li><a class="nav-link scrollto" href="#team" routerLink="/commonmed">Categories</a></li>
          <li><a class="nav-link scrollto" href="#pricing" routerLink="/login">Apply for Medicine</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <li><a class="getstarted scrollto" href="#about" routerLink="/login">Sign In</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>
  </header><!-- End Header -->

  <!-- ======= BP Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Blood Pressure Medicines</h2>
        <p></p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="https://drmint.care/wp-content/uploads/2020/08/ATACAND-32-25MG-14TAB..jpg" class="img-fluid" alt="">
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
            <div class="member-info">
              <h4>Atacand</h4>
              <span>fgdfgdfgdfgdfgf</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="https://5.imimg.com/data5/NA/BC/MY-8612369/catapres-medicine-500x500.jpg" class="img-fluid" alt="">
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
            <div class="member-info">
              <h4>Catapres</h4>
              <span>gdfgdfgfdgfdg</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="http://mcareexports.com/wp-content/uploads/2021/06/Enace-2.5mg-tablet.jpg" class="img-fluid" alt="">
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facgram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
            <div class="member-info">
              <h4>Enalapril</h4>
              <span>dfdsfdsfdfdsf</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="https://www.simplymedsonline.co.uk/storage/products/5823/images/ramipril-capsules-es-741654607937.png" class="img-fluid" alt="">
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
            <div class="member-info">
              <h4>Ramipril</h4>
              <span>dfsdfsdfdsf</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://www.practostatic.com/practopedia-images/v3/res-750/nebilong-5mg-tablet-10-s_f8f3501a-2d86-4279-ac40-e4193e976c39.JPG" class="img-fluid" alt="">
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Nebilong</h4>
                <span>dfsdfdsfds</span>
              </div>
            </div>
          </div>

      </div>

    </div>
  </section><!-- BP Section -->

  <app-endcomp></app-endcomp>