<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p>Medical Store Management website is built for both Medical Staffs as well as Customers to make their lives easy.</p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Saving data in sheets and hand-written notes can be very time consuming. The biggest advantage in using this website is as follows:
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Medical Staffs can view & manage medicine information</li>
            <li><i class="ri-check-double-line"></i> Admin dashboard for staffs to view customer details and orders</li>
            <li><i class="ri-check-double-line"></i> Customer can login and apply for medicine on the go</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Our website does not require or store customer personal information and it stores only their order details.
            It's a website for customers to order day-to-day medicines. It helps customers to buy medicines regularly from trusted source.
          </p>
          <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->