<app-navbarmed></app-navbarmed>

<div class="banner-area padding-width-1 gray-bg allcatboxcoverpage bg ">
    <div class="container-fluid" style="min-height: calc(100vh - 450px);">
    <div class="pagemaintitlenewset1 margtopandbotmrped1">
            
            <h2 class="h2_data_seo_content mt-3">Common Medicines</h2>
        </div>
        <div class="row">
            
                                        
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/generalmedicine.images/calpal.jfif" alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a >calpal</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/generalmedicine.images/cyclopam.jpg" alt="" >
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a >cyclopam</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/generalmedicine.images/dolo 650.jpg"alt="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a >dolo 650</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a >
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/generalmedicine.images/lomapamide.png"alt="" >
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a >lomapamide</a></h5>
                        </div>
                    </div>
                </div>
                
            </div>
                               
            
                                        
                                                           
                               
                                                          
                             
    </div>
    <app-footer></app-footer>  
</div>