<p>register works!</p>
<!-- <mat-card>
<section class="vh-100 bg-image" 
  style="background-image: url('hhttps://images.unsplash.com/photo-1628771065518-0d82f1938462?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGlsbHN8ZW58MHx8MHx8&w=1000&q=80');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form  #f="ngForm" novalidate (ngSubmit)="f.form.valid&&onSubmit()">   -->
                <!--  (ngSubmit)="submit()"  [formGroup]="signUpForm" -->
                <!-- <div class="form-outline mb-4">
                    <input type="text" class="form-control" name="name" id="" [(ngModel)]="formdata.name2" placeholder="Username" #name="ngModel" required>
                    <span class="text-danger" *ngIf="this.submit&&name2.errors?.['required']" >
                        Name is required.
                    </span> -->
                  <!-- <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Username"
                  name="username"  [(ngModel)]="username"/>
                  <mat-error *ngIf="usernamev?.errors?.['required']">
                    Name is required
                  </mat-error> -->
                <!-- </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Phone" name="phonenumber" [(ngModel)]="phonenumber"/>
                  </div>

                <div class="form-outline mb-4"> -->
                  <!-- <input type="email" id="form3Example3cg" class="form-control form-control-lg" placeholder="Your Email" name="email" [(ngModel)]="email"/> -->
                  <!-- <input type="text"  class="form-control" name="email" id="" [(ngModel)]="formdata.email2" placeholder="Your Email" #email="ngModel" required >
                  <span class="text-danger" *ngIf="this.submit&&email2.errors?.['required']" >              
                      Email is required.
                  </span> -->
                  <!-- <mat-error *ngIf="emailv?.errors?.['required']">
                    Email address is required
                  </mat-error>
                  <mat-error *ngIf="emailv?.errors?.['email']">
                    Please enter a valid email address
                  </mat-error> -->
                 
                <!-- </div>

                <div class="form-outline mb-4"> -->
                  <!-- <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Password" name="password" [(ngModel)]="password"/>
                  <mat-error *ngIf="passwordv?.errors?.['required']">
                    Password is required
                  </mat-error> -->
                  <!-- <input  class="form-control" type="password"  name="password" id="" [(ngModel)]="formdata.password2" placeholder="Password" #password="ngModel" required minlength="8">
                  <span class="text-danger" *ngIf="this.submit&&password2.errors?.['required']" >
                      Password is required.
                  </span>
                  <span class="text-danger" *ngIf="this.submit&&password2.errors?.['minlength']" >
                   mininmum length of password is 8 characters
                </span>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Type password again" name="confirmpassword" [(ngModel)]="confirmpassword"/>
                  <mat-error *ngIf="confirmPasswordv?.errors?.['required']">
                    Confirm Password is required
                  </mat-error>
                
                <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
                    Passwords should match
                </mat-error>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-login float-right"  value="Register" (click)="submit=true" ></button> -->
                  <!-- <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button> -->
                <!-- </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

                <p class="text-center text-muted mt-3 mb-0">Want to go to Home Page? <a href="#!"
                        class="fw-bold text-body"><u>Click here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</mat-card> -->
