<!-- <body> -->
<div class="d-flex flex-row bg-color">
<div class="card col-3 m-5 cards-image">

<img src="../../assets/medicine variety/acidity.iamges/Digene.jpg" >
<a routerLink="/commonmed" class="text-center"><p>View More</p></a>
</div>
<div class="card col-3 m-5">
  <img src="../../assets/medicine variety/fever.images/children's tylenol.jpg">
  <a routerLink="/commonmed" class="text-center"><p>View More</p></a>
  </div>

  <div class="card col-3 m-5">
    <img src="../../assets/medicine variety/thorat.images/coscopin.jpg">
    <a routerLink="/commonmed" class="text-center"><p>View More</p></a>
    </div>
    </div>
  <!-- </body> -->
